<meta name="copyright" content="FSC">
<meta name="robots" content="index,follow">
<meta name="keywords" content="strumentalmente,fsc,sito,ufficiale,strumenti,musicali,musica,impara,imparare,suonare,chitarra,piano,batteria,basso">
{% seo %}
<meta property="og:image" content="{{ '/assets/images/logo/1024x1024.png' | absolute_url }}">

<!-- #region Colored Link Bar-->
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#333333">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#333333">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#333333">
<!-- #endregion -->
