<nav id="main-navbar" class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" aria-label="Navigazione principale">
    <a class="navbar-brand" href="{{ '/#splash' | absolute_url }}">
        <img src="{{ '/assets/images/logo/ico_256x256.ico' | absolute_url }}" width="30" height="30" class="d-inline-block align-top" alt="" aria-hidden="true">
        Strumental<span>Mente</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% for link in site.data.navigation %}
            <li id="{{ link.url }}-link" class="nav-item">
                <a class="nav-link" href="{{ link.url | absolute_url }}">{{ link.text }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>

</nav>
