<section id="release" class="text-center my-5">
    <h1 class="bd-title">Download</h1>
    <p class="lead mx-auto">Scarica ora StrumentalMente, oppure visita la
    <span lang="en" style="font-style: italic;">release</span> su 
    <a title="Apri la release" aria-label="Apri la release"
        href="https://github.com/F-S-C/StrumentalMente/releases/latest"
        target="_blank">GitHub</a>!</p>

    <div class="pt-2">
        <a href="https://github.com/F-S-C/StrumentalMente/archive/v1.0.1.zip" class="btn btn-outline-primary btn-rounded waves-effect">Source code (zip) <i class="fas fa-file-archive ml-1"></i></a>
        <a href="https://github.com/F-S-C/StrumentalMente/releases/download/v1.0.1/StrumentalMente.Setup.1.0.1.exe" class="btn btn-primary btn-rounded waves-effect">Download <span class="fas fa-download ml-1"></span></a>
        <a href="https://github.com/F-S-C/StrumentalMente/archive/v1.0.1.tar.gz" class="btn btn-outline-primary btn-rounded waves-effect">Source code (tar.gz) <i class="fas fa-file-archive ml-1"></i></a>
    </div>
</section>