---
layout: default
---

{% include navbar.html %}

<main id="main" itemscope itemtype="https://schema.org/SoftwareApplication">
    <div class="splash-screen" id="splash">
        <header class="inner">
            <img class="logo" src="{{ site.url }}/assets/images/logo/512x512.png" alt="Logo di StrumentalMente"/>
            <h1 itemprop="name">Strumental<span>Mente</span>
            </h1>
            <h2 itemprop="headline">Dove la musica diventa semplice</h2>
            <div style="margin-top: 1rem;">
                <a class="btn btn-outline-white btn-rounded waves-effect" href="{{ site.url }}/#release">Download</a>
                <a class="btn btn-outline-white btn-rounded waves-effect scroll-down" href="#content">
                    <span class="fas fa-chevron-down"></span>
                </a>
            </div>
        </header>
    </div>
    <div class="container" id="content">
        <div class="row">
            <div class="col bd-content">
                {{ content }}
            </div>
        </div>
    </div>

    {% include footer.html %}
</main>
